.card__img {
  //color:white;
  list-style: none;
  background-color: rgb(10, 212, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;

  &--photo {
    width: 150px;
  }
  &--name {
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    margin: 0px;
    padding: 5px;
    padding-bottom: 0px;
  }

  &--specie {
    margin: 0px;
    padding-inline: 5px;
    padding-bottom: 5px;
  }
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}
