.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  width: 600px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px;

  background-color: rgb(106, 208, 248);
}

.info-back {
  width: 40px;
  padding: 5px;
  transform: translate(540px);
  grid-column: span 2;
}

.info-img {
  width: 240px;
  height: 240px;
  align-self: center;
  justify-self: center;
}
.info-text {
  color: white;
  align-self: center;
  padding: 50px;

  &__list {
    list-style: none;
  }
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}
